<div id="left">
  <%=image_tag("empty_cave_window2.png", id: "window") %>
  <%=image_tag("MACHU-PICCHU-facebook.jpg", id: "myPhotos") %>
</div>

<div id="right">
  <div id="welcomeAdventures">
  <%=image_tag("WelcomeAdventureText3.png")%>
  </div>

  <div id="torchLeft">
  <%=image_tag("LeftTorchesNoFlame350.png")%>
  </div>

  <div id="flame">
  <%=image_tag("LRflame0002.gif", style: "height:50%; width:50%;")%>
  </div>

  <div id="torchRight">
  <%=image_tag("RightTorchesNoFlame350.png")%>
  </div>

  <div id="flame2">
  <%=image_tag("LRflame0002.gif", style: "height:50%; width:50%;")%>
  </div>
</div>

</div>

</div>
</div>
<link rel="stylesheet" type="text/css"  href="PeruMona.scss">
