<h1><%=@testimonial.name%> </h1>
<h3><%=@testimonial.body%></h3>

<p><%= link_to "testimonial", new_testimonial_answer_path(@testimonial) %></p>
<p>

<ul>
  <% unless @testimonials.nil? %>
    <% @testimonials.each do |testimonial| %>
      <li> <%= testimonial.check_box(:best) testimonial.body %>  </li>
    <% end %>
  <% end %>
</ul>
</p>

<p><%= link_to "Edit Testimonial", edit_testimonial_path(@testimonial) %></p>
<p><%= link_to "Delete Testimonial", @testimonial, method: :delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "Back", testimonials_path %></p>











	</div>
